* {
  margin: 0px;
}
.parent {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-image: url('./bg.png');
  background-size: 100% 100%;
}

.form-data {
  justify-content: center;
  width: 350px;
  margin: 380px auto 0px auto;
}
.name-field,
.date-field,
.place-field {
  display: block;
  margin: 10px;
}
#name {
  margin-left: 30px;
}
#place {
  margin-left: 34px;
}
#send-submit {
  margin-left: 110px;
  height: 30px;
  width: 90px;
}
h4 {
  text-align: center;
}

#note {
  margin-left: 10px;
}
#welMessage {
  margin: 10px;
  color: white;
}
