* {
  margin: 0px;
}
.parent {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-image: url('./bg.png');
  background-size: 100% 100%;
}

.form-data {
  position:absolute;
    width:300px;
    /* height:300px; */
    /* background:#063; */
    bottom:0px;
    right:25%;
    left:50%;
    margin-left:-150px;
}
.widthdiv{
  margin: 10px;
}
#send-submit{
  margin-left: 120px;
  margin-bottom: 10px;
}
#place {
  margin-left: 3px;
}
/* .name-field,
.date-field,
.place-field {
  display: block;
  margin: 10px;
}
#name {
  margin-left: 30px;
}

#send-submit {
  margin-left: 140px;
  height: 30px;
  width: 90px;
}
h4 {
  text-align: center;
}

#note {
  margin-left: 10px;
}
#welMessage {
  margin: 10px;
  color: white;
} */
